<h1>hAPPiness</h1>

<p>There are 5 things you can do every day that will increase your overall hAPPiness</p>

<ul>
  <li>Write down 3 things you're thankful for</li>
  <li>Keeping a Journal</li>
  <li>Performing "Random Acts of Kindness"</li>
  <li>Meditation</li>
  <li>Exercise</li>
</ul>

<p>hAPPiness is an app that will help you log these 5 activities, to help you be hAPPy!</p>

<p><a href="/user/register">Register an account</a>, and start feeling hAPPY!</p>

<p>The inspiration for this app came from this Ted talk:</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/fLJsdqxnZb0" frameborder="0" allowfullscreen></iframe>
